<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Le Secret du bois - B&B</title>
        <link rel="stylesheet" href="../mycss.css">
        <link rel='icon' href="../images/faviSecretDuBois.PNG">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/materialize/dist/js/materialize.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css">
        <script src="../app.js"></script>
        <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            } 
        </style>
    </head>
    <body ng-app="secret" ng-controller="KamersController" class="white-text grey darken-4">
        <nav>
            <div class="nav-wrapper grey darken-3">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="kamers.html" class="grey darken-4">Kamers</a></li>
                    <li><a href="cafe.html">Caf&eacute;</a></li>
                    <li><a href="keuken.html" >Keuken</a></li>
                    <li><a href="activiteiten.html">Activiteiten</a></li>
                    <li><a href="contact.html">Contact & Info</a></li>
                    <li><a href="gallerij.html">Foto's</a></li>
                </ul>
            </div>
        </nav>
        <main class="grey darken-4"><!--style="background-image: url('../images/background_kamers.png'); background-repeat: no-repeat;background-attachment: fixed; background-position: center; background-size: cover"-->

            <div class="container">
                <h1 class="lime-text darken-4">Kamers</h1>
                <div class="" style="padding-left: 20px; padding-right: 20px">
                    <div class="col " ><p class="">
                            De 4 stijlvolle gastenkamers zijn voorzien van zeer comfortabele bedden, waarvan 2 kamers met boxspring en 2 met smeedijzeren bedden. In de 2 grootste kamers op de voorkant van de herenhoeve kan men nog 2 maal een 1 persoonsbed bijzetten. ( kinderen tot 12 jaar )
                            De uitgestrekte bossen van de Naamse Ardennen omhullen vele geheimen waarvan we er een aantal prijsgeven in de benaming van onze kamers. 	
                        </p>
                    </div>
                </div>
                <br>
                <ul class="collapsible popout grey darken-4" data-collapsible="accordion">
                    <li ng-repeat="kamer in kamers" class="grey darken-4">
                        <div class="collapsible-header {{kamer.kleur}} black-text {{kamer.state}}" style="font-size: 20px;">{{kamer.title}} - {{kamer.klasse}}</div>
                        <div class="collapsible-body {{kamer.kleur}}">
                            <br>
                            <div class="row">
                                <div class='col s7 '>
                                    <div id="{{kamer.facId}}"><img ng-repeat="fac in kamer.faciliteiten" src="{{fac}}" class="responsive-img" style="width: 80px"></div>
                                    <p id="{{kamer.id}}" class="z-depth-3 black-text {{kamer.highkleur}}">Prijs voor 2 personen: {{kamer.prijs}}<br>Supplement voor 1 persoon: {{kamer.prijsSupplement}}</p>
                                    <br>
                                    <a id="{{kamer.buttonId}}" class="waves-effect waves-light btn"  ng-click="clickButton(kamer)">Ontdek het geheim!</a>
                                </div>
                                <div class='col s4'><img id="{{kamer.imgId}}" class="responsive-img z-depth-3" src="{{kamer.imgurl}}"></div>
                                <div class='col s1'></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="page-footer grey darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Le Secret du Bois</h5>
                        <p class="grey-text text-lighten-4">Ontdek het geheim!</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#https://www.facebook.com/lesecretdubois/">Facebook</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                            <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                            <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text

                </div>
            </div>
        </footer>
    </body>
</html>
